/УчебноМетодическоеПособие
**/Debug/
**/.vs
**/x64
*.sln
**/ClientT/*.vcxproj
**/ClientT/*.vcxproj.filters
**/ClientT/*.vcxproj.user
**/ServerT/*.vcxproj
**/ServerT/*.vcxproj.filters
**/ServerT/*.vcxproj.user
**/ClientU/*.vcxproj
**/ClientU/*.vcxproj.filters
**/ClientU/*.vcxproj.user
**/ServerU/*.vcxproj
**/ServerU/*.vcxproj.filters
**/ServerU/*.vcxproj.user
**/ClientB/*.vcxproj
**/ClientB/*.vcxproj.filters
**/ClientB/*.vcxproj.user
**/ServerB/*.vcxproj
**/ServerB/*.vcxproj.filters
**/ServerB/*.vcxproj.user
**/ClientS/*.vcxproj
**/ClientS/*.vcxproj.filters
**/ClientS/*.vcxproj.user
**/ClientNP/*.vcxproj
**/ClientNP/*.vcxproj.filters
**/ClientNP/*.vcxproj.user
**/ClientNPct/*.vcxproj
**/ClientNPct/*.vcxproj.filters
**/ClientNPct/*.vcxproj.user
**/ClientNPt/*.vcxproj
**/ClientNPt/*.vcxproj.filters
**/ClientNPt/*.vcxproj.user
**/ServerNP/*.vcxproj
**/ServerNP/*.vcxproj.filters
**/ServerNP/*.vcxproj.user

