/УчебноМетодическоеПособие
**/Debug/
**/.vs
*.sln
**/ClientT/*.vcxproj
**/ClientT/*.vcxproj.filters
**/ClientT/*.vcxproj.user
**/ServerT/*.vcxproj
**/ServerT/*.vcxproj.filters
**/ServerT/*.vcxproj.user
**/ClientU/*.vcxproj
**/ClientU/*.vcxproj.filters
**/ClientU/*.vcxproj.user
**/ServerU/*.vcxproj
**/ServerU/*.vcxproj.filters
**/ServerU/*.vcxproj.user
**/ClientB/*.vcxproj
**/ClientB/*.vcxproj.filters
**/ClientB/*.vcxproj.user
**/ServerB/*.vcxproj
**/ServerB/*.vcxproj.filters
**/ServerB/*.vcxproj.user
**/ClientS/*.vcxproj
**/ClientS/*.vcxproj.filters
**/ClientS/*.vcxproj.user